html,
body {
    height: 100%;
}

main {
    flex: 1;
}

.content-wrapper {
    flex: 1;
}

aside {
    min-width: 250px;
}

aside .nav-pills .nav-link {
    line-height: 3;
    border-radius: 0;
    color: #444444;
}

aside .nav-pills .nav-link:hover {
    background: rgb(243, 242, 243);
}

aside .nav-pills .nav-link.active {
    background: rgb(243, 242, 243);
    color: #b90000;
    border-left: 4px solid #b90000;
}